.login-signup-container{
    display: flex;
    flex-direction: column;
}

.login-signup-modal{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    top: 50%;
    background-color: rgb(96 107 91);
    padding: 12px;
    border: 1px solid;
    border-radius: 8px;
}